<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo-code.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style-interets.css">
    <title>Mes Centres d'intérêt</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html" aria-label="Retourner à la page d'accueil">Accueil</a></li>
                <li><a href="../components/cursus.html" aria-label="Voir mon cursus et mes diplômes">Cursus</a></li>
                <li><a href="../components/experiences.html" aria-label="Voir mes expériences professionnelles">Expériences</a></li>
                <li><a href="../components/competences.html" aria-label="Voir mes compétences">Compétences</a></li>
                <li><a href="../components/formations.html" aria-label="Voir mes formations">Formations</a></li>
                <li><a href="../components/centres-d-interet.html" aria-label="Voir mes centres d'intérêt" class="active">Centres d'intérêt</a></li>
                <li><a href="../components/lettre-de-motivation.html" aria-label="Lire ma lettre de motivation">Motivation</a></li>
                <li><a href="../components/lettres-de-recommandation.html" aria-label="Lire mes lettres de recommandation">Recommandations</a></li>
                <li><a href="../components/me-contacter.html" aria-label="Me contacter">Contact</a></li>
            </ul>
        </nav>
        <h1>Mes centres d'intérêt</h1>
    </header>
    
    <main>
        <section>
            <figure>
                <img src="../assets/images/centres-d-interet/famille.png" alt="image représentant la famille">
                <figcaption>La famille</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/informatique.jpg" alt="image représentant l'informatique">
                <figcaption>L'informatique</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/chant.jpg" alt="image représentant le chant">
                <figcaption>Le chant</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/voyage.jpg" alt="image représentant les voyages">
                <figcaption>Les voyages</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/asie.jpg" alt="image représentant l'asie">
                <figcaption>L'Asie (plus particulièrement la Corée du Sud et le Japon)</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/montagne.jpg" alt="image représentant la montagne">
                <figcaption>La montagne</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/cosy.jpg" alt="image représentant le cosy">
                <figcaption>Le cosy et le hygge</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/spa.jpg" alt="image représentant le cosy">
                <figcaption>Le spa et le bien-être</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/centres-d-interet/nourriture.jpg" alt="image représentant la nourriture">
                <figcaption>La nourriture</figcaption>
            </figure>   
        </section>
    </main>
    
    <footer>
        <!-- Voir pour mettre à jour la date automatiquement avec JS-->
        <small>Cette page a été mise à jour le <time datetime="2025-10-08">08/10/2025</time></small>
        <a href="../index.html" class="btn-home">Retour à l'accueil</a>
    </footer>
</body>
</html>