<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo-code.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style-competences.css">
    <title>Mes Compétences</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="../index.html" aria-label="Retourner à la page d'accueil">Accueil</a></li>
          <li><a href="../components/cursus.html" aria-label="Voir mon cursus et mes diplômes">Cursus</a></li>
          <li><a href="../components/experiences.html" aria-label="Voir mes expériences professionnelles">Expériences</a></li>
          <li><a href="../components/competences.html" aria-label="Voir mes compétences" class="active">Compétences</a></li>
          <li><a href="../components/formations.html" aria-label="Voir mes formations">Formations</a></li>
          <li><a href="../components/centres-d-interet.html" aria-label="Voir mes centres d'intérêt">Centres d'intérêt</a></li>
          <li><a href="../components/lettre-de-motivation.html" aria-label="Lire ma lettre de motivation">Motivation</a></li>
          <li><a href="../components/lettres-de-recommandation.html" aria-label="Lire mes lettres de recommandation">Recommandations</a></li>
          <li><a href="../components/me-contacter.html" aria-label="Me contacter">Contact</a></li>
          </ul>
      </nav>
      <h1>Mes compétences</h1>
    </header>

    <main>
      <section>
        <h2>Mes compétences en informatique</h2>
        <article>
          <h3>Développement Front-End - Junior 🌱</h3>
          <ul>
            <li>Langage HTML</li>
            <li>Langage CSS (dont Flexbox et Grid)</li>
            <li>Git et GitHub</li>
            <li>Référencement SEO</li>
          </ul>
        </article>

        <article>
          <h3>Développement Back-End - Junior 🌱</h3>
          <ul>
            <li>A venir</li>
          </ul>
        </article>
      </section>

      <section>
        <h2>Mes compétences générales</h2>
        <article>
          <h3>Compétences en gestion administrative</h3>
          <ul>
            <li>Maîtrise des processus administratifs</li>
            <li>Gestion sérieuse et rigoureuse des dossiers</li>
            <li>Capacité à organiser et planifier des tâches efficacement</li>
            <li>Esprit de synthèse et d’analyse</li>
            <li>Capacités rédactionnelles</li>
            <li>Maîtrise des outils numériques et bureautiques (dont Office etCanva)</li>
            <li>Connaissances en règlementation et en droit public</li>
            <li>Compétences en RH : Recrutement, intégration et accompagnement des collaborateurs, administration du personnel, gestion de la paie, des formations et des absences</li>
            <li>Maîtrise des bases en gestion de régie d'avances et de recettes,notions de comptabilité</li>
          </ul>
        </article>

        <article>
          <h3>Compétences en gestion de projets et coordination</h3>
          <ul>
            <li>Mise en place et pilotage de projets variés (événementiels, qualité, mobilité, handicap, qualité de vie au travail, RSO...)</li>
            <li>Coordination et animation d’équipes sur des objectifs communs</li>
            <li>Capacité à gérer des priorités multiples et à respecter des délais</li>
            <li>Organisation logistique et planification stratégique</li>
          </ul>
        </article>

        <article>
          <h3>Compétences relationnelles et interpersonnelles</h3>
          <ul>
            <li>Excellentes capacités de communication écrite et orale</li>
            <li>Aptitude à collaborer avec différents publics (collaborateurs, partenaires, hiérarchie)</li>
            <li>Sens de l’écoute, empathie et capacité à gérer des situations complexes avec bienveillance</li>
            <li>Capacité à accueillir et former de nouveaux collaborateurs</li>
          </ul>
        </article>

        <article>
          <h3>Compétences pour travailler en milieu sensible et exigeant</h3>
          <ul>
            <li>Rigueur, discipline et respect des politiques et des processus</li>
            <li>Adaptabilité et gestion efficace des imprévus</li>
            <li>Capacité à gérer des dossiers délicats et confidentiels</li>
            <li>Capacité à apprendre rapidement et mettre à profit les nouveaux savoirs</li>
            <li>Engagement pour des valeurs d’excellence et de service public</li>
          </ul>
        </article>

        <article>
          <h3>Langues</h3>
          <ul>
            <li>Anglais niveau C1 écrit et oral</li>
            <li>Espagnol niveau B2 écrit et oral</li>
          </ul>
        </article>
      </section>
    </main>

    <footer>
      <!-- Voir pour mettre à jour la date automatiquement avec JS-->
      <small>Cette page a été mise à jour le <time datetime="2025-10-08">08/10/2025</time></small>
      <a href="../index.html" class="btn-home">Retour à l'accueil</a>
    </footer>
  </body>
</html>
