<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo-code.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style-cursus.css">
    <title>Mon cursus et mes diplômes</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html" aria-label="Retourner à la page d'accueil">Accueil</a></li>
                <li><a href="../components/cursus.html" aria-label="Voir mon cursus et mes diplômes"
                        class="active">Cursus</a></li>
                <li><a href="../components/experiences.html"
                        aria-label="Voir mes expériences professionnelles">Expériences</a></li>
                <li><a href="../components/competences.html" aria-label="Voir mes compétences">Compétences</a></li>
                <li><a href="../components/formations.html" aria-label="Voir mes formations">Formations</a></li>
                <li><a href="../components/centres-d-interet.html" aria-label="Voir mes centres d'intérêt">Centres
                        d'intérêt</a></li>
                <li><a href="../components/lettre-de-motivation.html"
                        aria-label="Lire ma lettre de motivation">Motivation</a></li>
                <li><a href="../components/lettres-de-recommandation.html"
                        aria-label="Lire mes lettres de recommandation">Recommandations</a></li>
                <li><a href="../components/me-contacter.html" aria-label="Me contacter">Contact</a></li>
            </ul>
        </nav>
        <h1>Mon cursus et mes diplômes</h1>
    </header>

    <main>
        <section>
            <h2>Titre Professionnel Développeur Web et Web Mobile</h2>
            <small><time datetime="2025">2025 - En cours (Bac+2)</time></small>
            <img src="../assets/images/loading.png" alt="En cours">
        </section>

        <section>
            <h2>Certificat Professionnel de Coach en Développement Personnel</h2>
            <small><time datetime="2024">2024</time></small>
            <img src="../assets/images/diplomes/coach.jpg" alt="Certificat de Coach en Développement Personnel">
        </section>

        <section>
            <h2>Certificat Professionnel de Spécialité en Psychologie de l'enfant</h2>
            <small><time datetime="2024">2024</time></small>
            <img src="../assets/images/diplomes/psychologie-enfant.jpg" alt="Certificat en Psychologie de l'Enfant">
        </section>

        <section>
            <h2>Titre Professionnel Assistante RH</h2>
            <small><time datetime="2017">2017 (Bac+2)</time></small>
            <img src="../assets/images/diplomes/arh.jpg" alt="Diplôme d'Assistante en Ressources Humaines">
        </section>

        <section>
            <h2>Titre Professionnel de Maçon du Bâti Ancien</h2>
            <small><time datetime="2012">2012 (CAP-BEP)</time></small>
            <img src="../assets/images/diplomes/mba.jpg" alt="Diplôme de Maçon du Bâti Ancien">
        </section>

        <section>
            <h2>Diplôme d'Etat d'Aide-Soignante</h2>
            <small><time datetime="2008">2008 (Bac+1)</time></small>
            <img src="../assets/images/diplomes/aide-soignante.jpg" alt="Diplôme d'Aide-Soignante">
        </section>

        <section>
            <h2>Baccalauréat STG (Science et Technologies de Gestion) Option Gestion des Ressources Humaines</h2>
            <small><time datetime="2007">2007</time></small>
            <img src="../assets/images/diplomes/bac.jpg" alt="Diplôme du Baccalauréat">
        </section>
    </main>

    <footer>
        <!-- Voir pour mettre à jour la date automatiquement avec JS-->
        <small>Cette page a été mise à jour le <time datetime="2025-10-08">08/10/2025</time></small>
        <a href="../index.html" class="btn-home">Retour à l'accueil</a>
    </footer>
</body>

</html>